extends base.pug

block scripts 
  script(src="/static/index.js")

block style 
    style 
      include ../static/style.css  

block content 
    nav#navbar 
      ul 
          div#logo
              img(src="/static/img/logo.jpg")
          li #[a(href="/") Home]
          li #[a(href="/") About]
          li #[a(href="/") Services]
          li #[a(href="/") Class Info]
          li #[a(href="/") Contact Us]

    section#introSection 
        div Welcome to Gaurav's Dance Academy  
        div.small Eat sleep Dance Repeat

    section#missonSection
        h3 Our Misson
        div.card 
          h3 Dance Perfaction
          div.card-box 
              div.card-img 
                  img(src="/static/img/pic1.png")
              div.card-content
                  p  This is the best dance academy in the universe
        div.card 
          h3 Dance the way you like
          div.card-box 
              div.card-img 
                  img(src="/static/img/pic2.jpg")
              div.card-content
                  p  This is the best dance academy in the universe
        div.card 
          h3 Expert teaching
          div.card-box 
              div.card-img 
                  img(src="/static/img/pic3.jpg")
              div.card-content
                  p  This is the best dance academy in the universe

    section#sponsersSection
        h3 Our Sponsers
        div#sponsers 
            img(src="/static/img/sp1.jpg", alt="Sponser Image", class="spImage")
            img(src="/static/img/sp2.jpg", alt="Sponser Image", class="spImage")
          
